.image {
  max-width: 100%;
}

.qrcode {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./qr-code.png");
  background-size: contain;
  height: 128px;
  width: 128px;
}
